language: go
go_import_path: github.com/ethereum/go-ethereum
sudo: false
matrix:
  include:
    # These are the latest Go versions.
    - os: linux
      dist: trusty
      sudo: required
      go: "1.10"
      script:
        - sudo modprobe fuse
        - sudo chmod 666 /dev/fuse
        - sudo chown root:$USER /etc/fuse.conf
        - go run build/ci.go install
        - travis_wait 60 go run build/ci.go test
      before_deploy:
        - sh build/deploy.sh
      deploy:
        provider: releases
        api_key:
          secure: ezTmvpIS/KdiICZzKbEK9R8E8i0Vtey6p9qrLJZB9vbV4fFTHBrbixo7di71H2rtGrBDhWRZ9r0+6jxwcu/1JFvnNDfAanlzx7XOjbsbriLLJdCTytFVEa8G50U1I7lNRKGApwjoTNG0sL5u5cJjjEUJvgbAbfslAu62Dli20hFYC7QgBy09p94Yd5yB+J3IN8wUzVriM+UxexDQoIlhlarMTUkAKMYPSNn4J+p9hLlDW0iSmLEuiNSw7398AzY1y2UtnLEAfaHjptrJiOOcrWhB033U702rzOxMbwpPFssxMPdNtxN2ab4oS/LiF/Z0BZrMI3UkIgSV5vXQj5RT2khcWB6yjYwAFt2pSXvQDKN7LpOt6EatbBQJedaGDTmFdwU5wO5mLEe4eqpOKjMl9XzaCBCrCx1kh65Q4H7TvHzQMmVAH8lk+L+Jhb04cLwioSBo6hi3J08ATJqqFiU06iSWABo/1U2pkbbppoGvKYP96miRCicORxqoog0P+l23pWUW0LQqzEoEZb7jDVdE+R2102AtevrD/2P/MP2eRDJXf2hVwnlLnZiYSGKIy0Vdr5SPY1vTOxKRpgJMDk4QFPO8+Jou+UCarfnxDVSSK7WT6loXgtkmAofQIze7egjKomDFBuZhvF4Zfh5fpPghSoFKq6WjG1fk5lXw0UqmVz0=
        file: multi-geth-$TRAVIS_OS_NAME-$TRAVIS_TAG.*
        file_glob: true
        draft: true
        on:
          repo: ethereumsocial/multi-geth
          tags: true
        skip_cleanup: true
        tag_name: "$TRAVIS_TAG"

    - os: osx
      go: "1.10"
      script:
        - unset -f cd # workaround for https://github.com/travis-ci/travis-ci/issues/8703
        - brew update
        - brew install caskroom/cask/brew-cask
        - brew cask install osxfuse
        - go run build/ci.go install
        - travis_wait 60 go run build/ci.go test
      before_deploy:
        - sh build/deploy.sh
      deploy:
        provider: releases
        api_key:
          secure: ezTmvpIS/KdiICZzKbEK9R8E8i0Vtey6p9qrLJZB9vbV4fFTHBrbixo7di71H2rtGrBDhWRZ9r0+6jxwcu/1JFvnNDfAanlzx7XOjbsbriLLJdCTytFVEa8G50U1I7lNRKGApwjoTNG0sL5u5cJjjEUJvgbAbfslAu62Dli20hFYC7QgBy09p94Yd5yB+J3IN8wUzVriM+UxexDQoIlhlarMTUkAKMYPSNn4J+p9hLlDW0iSmLEuiNSw7398AzY1y2UtnLEAfaHjptrJiOOcrWhB033U702rzOxMbwpPFssxMPdNtxN2ab4oS/LiF/Z0BZrMI3UkIgSV5vXQj5RT2khcWB6yjYwAFt2pSXvQDKN7LpOt6EatbBQJedaGDTmFdwU5wO5mLEe4eqpOKjMl9XzaCBCrCx1kh65Q4H7TvHzQMmVAH8lk+L+Jhb04cLwioSBo6hi3J08ATJqqFiU06iSWABo/1U2pkbbppoGvKYP96miRCicORxqoog0P+l23pWUW0LQqzEoEZb7jDVdE+R2102AtevrD/2P/MP2eRDJXf2hVwnlLnZiYSGKIy0Vdr5SPY1vTOxKRpgJMDk4QFPO8+Jou+UCarfnxDVSSK7WT6loXgtkmAofQIze7egjKomDFBuZhvF4Zfh5fpPghSoFKq6WjG1fk5lXw0UqmVz0=
        file: multi-geth-$TRAVIS_OS_NAME-$TRAVIS_TAG.*
        file_glob: true
        draft: true
        on:
          repo: ethereumsocial/multi-geth
          tags: true
        skip_cleanup: true
        tag_name: "$TRAVIS_TAG"

    # This builder only tests code linters on latest version of Go
    - os: linux
      dist: trusty
      go: "1.10"
      env:
        - lint
      git:
        submodules: false # avoid cloning ethereum/tests
      script:
        - go run build/ci.go lint
